<div class="bodyDiv">
  <div class="detailsInput">

    <table>
      <tr>
        <td><span>Title:</span></td>
        <td><input [(ngModel)]="title"></td>
      </tr>
      <tr>
        <td><span>Author:</span></td>
        <td><input [(ngModel)]="author"></td>
      </tr>
      <tr>
        <td><span>Image Url:</span></td>
        <td><input #url value="../../assets/question-mark.jpg" (blur)="0"></td>
      </tr>
    </table>
    <div class="imgShow">
      <img src="{{url.value}}">
    </div>
  </div>
  <h1>Body:</h1>
  <textarea [(ngModel)]="body" rows="30" cols="120"></textarea>
  <br>
  <button (click)="onAdd()" routerLink="/articles">Save</button>
  <button (click)="onCancel()">Cancel</button>
</div>
