<nav class="nav-container">
  <a class="navbar-brand" routerLink="">Furman Wiki</a>
    <ul>
      <li class="nav-item ">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articles">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articles/new">+New Article</a>
      </li>
    </ul>
  <form>
    <input #searchTxt class="searchTxt" placeholder="Search...">
    <button routerLink="/articles" (click)="setFilteredArticles(searchTxt.value)">Search</button>
  </form>
</nav>
