.bodyDiv{
  margin: 20px auto;
  position: relative;
  width: 60%;
}

span,h1{
  font-family: 'Oswald', sans-serif;
}

img{
  float: left;
  width: 170px;
  height: 210px;
  margin-right: 5px;
  border-radius: 10px;
  margin-left: 30px;
}

.detailsInput{
  display: flex;
  flex-flow: row;
}
